.total_user,
.new_regs,
.active_users {
    font-family: 'knockout';
    font-size: clamp(0px, 2vw, 16px);
    display: flex;
    box-shadow: 0 0 10px gray;
    border-radius: clamp(1px, 2vw, 3px);
    width: 45%;
    margin-left: 30px;
    height: 250px;
    color: #004aad;
    position: relative;
}

.total_user > span {
    margin: 5px;
}

.new_regs > span {
    margin: 5px;
}

.active_users > span {
    margin: 5px;
}


#total_user {
    display: flex;
    font-size: 26px;
    position: absolute;
    align-self: center;
    justify-content: center;
    width: 100%;
}

@media (min-width:768px) {
    .page-body {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 45%);
        grid-template-areas:
            ".total_user .actiive_users"
            ".new_regs   ";
    }

    .total_user,
    .new_regs,
    .active_users {
        width: 100%;
    }
        .AU_btns>button {
        font-size: 1.2vw;

    }
}

@media (max-width:768px) {

    .total_user,
    .new_regs,
    .active_users {
        width: 90%;
        margin-bottom: 20px;
        height: 160px;
    }

    .AU_btns>button {
        font-size: clamp(0px, 2vw, 16px);

    }
}

#total_user {
    font-size: clamp(45px, 10vw, 70px);
    transform: scaleX(0.8);
}

.NR_day,
.NR_week,
.NR_month {
    display: flex;
    flex-direction: column;
}

#NR_day,
#NR_week,
#NR_month {
    font-size: clamp(22px, 2vw, 30px);

}

.AU_btns {
    position: absolute;
    border: 1px solid #004aad;
    height: fit-content;
    right: 10px;
    top: 5px;
    background-color: #004aad;
}

.AU_btns>button {
    background-color: white;
    border: 1px solid #004aad;
    font-family: 'knockout';
    color: #004aad;
}

.AU_btns>button:hover {
    background-color: #004aad;
    color: white;
}

.new_regs {
    display: flex;
    flex-direction: column;
}

.new_regs>.NR_data {
    display: flex;
    margin-top: 10px;
    justify-content: space-around;
}